body {
  font-size: 18px;
}

a {
  color: #000;
}

.bold {
  font-weight: 700;
}

/* Alpaca form overrides */
.alpaca-form legend {
  font-size: 1em;
  font-weight: 600;
  margin: 10px 0px;

  a {
    text-decoration: none;
  }

  .number {
    font-weight: 500;
    width: 30px;
    display: inline-block;
    color: #999;
  }
}

.alpaca-form > div > div > div {
  border: #EEE 1px solid;
  border-left: #EEE 5px solid;
  border-radius: 5px;
  margin-bottom: 10px !important;
  padding-left: 10px;
  padding-right: 10px;

  &.completed {
    border-left: green 5px solid;
  }
}

.alpaca-form > div > div > div > div > div > div > div > div > div {
  padding-left: 0px;
}


/* Hide non-top level legends */
.alpaca-form > div > div > div > div > div > div > div > legend {
  display: none;
  font-size: 0.9rem;
  font-weight: normal;
  margin-bottom: 0;
}

.alpaca-field,
.alpaca-field-object,
.alpaca-field-object,
.alpaca-field-array {
  margin: 0;
  padding: 0;
  border: none;
}

.alpaca-control {
  margin-bottom: 10px;
}

.alpaca-container-item {
  margin-top: 0 !important;
  padding-left: 30px;
}

.alpaca-field-checkbox,
.alpaca-field-radio {
  overflow: auto;
}

.pull-left,
.pull-right {
  float: left;
  display: none;
}

.pull-left {
  width: 85%;
  margin-top: 0.2rem;
}

.pull-right {
  width: 15%;
  text-align: center;
  line-height: 40px;
  margin-top: 0.2rem;
}

.alpaca-array-toolbar {
  margin-top: 0.2rem !important;
  padding-left: 30px;
}

.alpaca-array-toolbar-action {
  display: none;
}

.alpaca-helper {
  background: #EFEFEF;
  padding: 10px;
  font-size: 0.875rem;
  margin-left: 30px;
}

[data-alpaca-container-item-name="rights_general_contactInfo"] > div > div > div {
  padding-left: 0;
}

[data-alpaca-field-name="rights_general"] legend {
  font-weight: bold !important;
}

[data-alpaca-field-path="/rights/access"],
[data-alpaca-field-path="/rights/rectification"],
[data-alpaca-field-path="/rights/erasure"],
[data-alpaca-field-path="/rights/restrictProcessing"],
[data-alpaca-field-path="/rights/dataPortability"],
[data-alpaca-field-path="/rights/object"],
[data-alpaca-field-path="/rights/automatedDecisionMaking"] {
  display: none;

  legend {
    font-weight: 700 !important;
    margin-top: 2rem;
    margin-bottom: 0.2rem !important;
  }

  .alpaca-container-item {
    padding-left: 0;
  }
}

[data-alpaca-container-item-name="privacyShield"] {
  display: none;
}

.form-custom-button {
  display: none;
}

#buttonShowAllRights {
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
  font-size: 0.875rem;
}

.alpaca-array-actionbar-action {
  &:hover {
    cursor: pointer;
  }
}

/* Custom controls */
.radio,
.checkbox {
  float: left;
  margin-right: 8px;
  margin-bottom: 8px;
  margin-left: 0 !important;

  label {
    padding: 2px 10px;
    border: #000 1px solid;
    line-height: 1.8 !important;
  }

  input {
    display: none;
  }

  &.active {
    background: #000;

    label {
      color: #FFF;
    }
  }
}

.mark-as-missing {
  margin-bottom: 10px;
}

.generated-json {
  font-family: monospace;
  height: 300px;
  margin-top: 0.5rem;
}
