{% extends "layouts/main.html" %}

{% block page_title %}{{ settings.title }}{% endblock %}

{% block head %}
<script type="text/javascript">
var emailAddress = '{{ settings.email_address }}';
</script>
{% endblock %}

{% block body_class %}{% endblock %}

{% block content %}
<div class="row">
  <div class="columns small-12 large-6 large-offset-2">
    <h2>{{ settings.title }}</h2>

    <p>Help <a href="https://openrightsgroup.org" target="_blank">Open Rights Group</a> and <a href="https://projectsbyif.com" target="_blank">IF</a> make privacy notices machine readable so they can be searched and reused by services like <a href="https://datarightsfinder.org" target="_blank">Data Rights Finder</a>.</p>

    <p>It takes about 25 minutes to complete a submission using this form. Your browser will automatically save your progress.</p>

    <p>When you're finished, you can submit your contribution to the <a href="{{ settings.data_repository }}" target="_blank">Data Rights Finder GitHub repository</a> or <a href="mailto:{{ settings.email_address }}">email it to us</a>.</p>

    <p>All contributions are licensed under the <a href="https://opendatacommons.org/licenses/odbl/1.0/">Open Database Licence</a>.</p>
  </div>
</div>

<div class="row" style="margin-bottom: 60px;">
  <div class="columns small-12 large-8 large-offset-2">
    <p class="bold">Questions</p>

    <div id="mainForm" style="margin-bottom: 60px;"></div>

    <p class="bold">Result</p>
    <textarea class="generated-json"></textarea>

    <div class="required-fields-not-ok">
      <p>Complete the organisation name, number and country fields before submitting this JSON file.</p>
    </div>

    <div class="required-fields-ok">
      <p><a href="#" class="copy-to-clipboard">Copy this JSON to your clipboard</a> and paste it into a file called <span class="bold"><span class="contribute-filename"></span>.json</span>.</p>
      <p>Submit it as a <a href="{{ settings.data_repository }}new/master" target="_blank">new pull request</a> in the Data Rights Finder GitHub repository.</p>
      <p>You can also email it to <a href="mailto:{{ settings.email_address }}" id="button-email">{{ settings.email_address }}</a>.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="columns small-12 large-8 large-offset-2">
    <p><a href="#" id="buttonStartAgain">Clear this form</a></p>
  </div>
</div>
{% endblock %}
